<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>The Sample</title>
  </head>
  <body>

  </body>
</html>
<body>
  <section id= "title">
    <div class="top-view" style="">
      <div class="text-center" >
        <h1>Sample</h1>
        <h3>This is Sample for GeekSalon</h3>
      </div>
    </div>
  </section>
  <section id= "about" style= "height: 500px; background-color: red;">
    <div class="container">
      <div class="row">
        <div class="title-container">
          <h1>Sampleとは</h1>
        </div>
        <div class="explain-container">
          <h4>Sampleは、GeekSalonの生徒の最終目標であるオリジナルアプリの雛形とも呼べる形、機能が最小限整ったものです。</h4>
        </div>
      </div>
    </div>
  </section>
  <section id= "start">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
        <div class="col-md-6">
          <div class="card">
            <img class="card-img-top" src="..." alt="Card image cap">
            <div class="card-body">
              <h5 class="card-title">Card title</h5>
              <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
</body>
